%nav{:class => "nav"}
  %div{:class => "nav-center"}
    %a
      = link_to 'Home', root_path, :class => "active"
    %a
      = link_to 'FTP Settings', settings_path, :class => "active"
    %a
      = link_to 'File List', file_listings_path, :class => "active"
